* {
    margin:0 ;
    padding:0 ;
}

.selectedImgCol {
    display:none;
}

.formCol{
    height: 100vh;
    margin: 20px 0;
}

.greetingMsgDesign {
    font-family: 'Lobster', sans-serif;
    font-size: 8rem;
}

.loginFormBody {
    padding: 0 20px;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.loginFormContainer {
    width: 100%;
}




@media (min-width: 1200px) {
    .main-container {
        overflow: hidden;
        height: 100vh;
        width: 100vw;

    }
    .loginFormBody {
        width: 65%;
    }

    .formCol{
        height: 100vh;
    }
    
    .selectedImgCol {
        display:block;
    }

    .selectedImgLoginDesign{
        height: 100vh;
        width: auto;
        border-radius: 0;
        margin: 0;
        padding:0;
    }
    
    .modalContainer {
        position:fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top:0;
        left:0;
        bottom: 0;
        right: 0;
        z-index: 99;
        background-color: rgba(242, 242, 242, 0.622);

    }
    .loginModalDesign {
        padding: 5em;
        border-radius: 30px;
        height: 20em;
        z-index: 100;
        background-color: white;
        opacity: 100;
        width: 100%;
        max-width: 40em;
        box-shadow: 0px 0px 10px 2px rgba(93, 93, 93, 0.291);
      }
      
      



}
    