.imgDesign {
    display:block;
    width: 100%;
    object-fit: contain;
    margin-bottom:1.25rem;
    
}

.cardsGalleryContainer {   
    columns:4;
    gap:1.25rem;
    padding-top:1.25rem;
    padding: 5rem;
    height: 100%;
    border-radius: 15px;

}

.pinDesign{
  position:relative;
}

.saveBtn {
  border: none;
  opacity: 0.5;
  background-color: rgba(203, 0, 0);
  color: white;
  font-weight: bold;
  height: 3rem;
  width: 7rem;
  border-radius: 15px;
  position: absolute;
  top:0;
  right:0;
  margin: 1rem;
}

.saveBtn:hover {
  opacity: 1;
}

.detailsBtn{
  border: none;
  opacity: 0.5;
  background-color: rgb(206, 205, 205);
  color: black;
  font-weight: bold;
  height: 3rem;
  width: 15rem;
  border-radius: 15px;
  position: absolute;
  bottom:0;
  left:0;
  margin: 1rem;
}

.detailsBtn:hover {
  opacity: 1;
}

.bsIcon{
  color: black;
}


@media (max-width:60rem) {
  .cardsGalleryContainer {
    columns:3;
   }
 }
@media (max-width:48rem) {
    .cardsGalleryContainer {
      columns:2;
     }
   }
   @media (max-width:32rem) {
    .cardsGalleryContainer {
      columns:1;
     }
   }

   .categoryBtnDesign{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: white;
    border-radius: 100px;
    border:1px solid #ee6055;
   }

   .categoryBtnDesign:hover {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
    border:1px solid #ee6055;

}