
.homeSection1 {
 
    min-height: 40em; 
    overflow: hidden;
    
}

.titleDesign{
    font-family: 'Lobster', sans-serif;
    font-size: 8.5rem;
    color: black;
    border-bottom: 2px lightgray solid;
    margin-right: 50px;
}

.joinTitleDesign {
    color: black;
    font-weight:bold;
    width: 14em;
}

.selectedImgCol{
    padding-right: 30px;
}

.selectedImgDesign{
    max-height: 40em;
    min-height: 40em;
    width:auto;
}

.buttonGoToRegisterDesign {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
}

.buttonGoToRegisterDesign:hover {
    text-decoration: none;
    color: #ee6055;
    font-weight: bolder;
    background-color: #e6aca858;
    border-radius: 100px;
}



.ratingTop10Table{
    border-top: 2px lightgray solid;  
    width: 100%;
}
.theadDesign{
    padding-top: 10px;
    color:rgb(131, 130, 130);
}
.tdDesign {
    padding: 2em 0;
    font-weight: bolder;
}
.randomArtworkTitle{
    font-weight: bolder;
    color: black;
}

.top10ImgDesign{
    height: 7em;
    width:auto;
    transition: transform .5s;
}

.top10ImgDesign:hover{
    height: 5em;
    width:auto;
    transform: scale(2);
}
.top10AvatarDesign{
    height: 4em;
    width:auto;

}

.seeMoreHomeDesign{
    height: 2em;
    width: 12em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: white;
    border-radius: 100px;
    border:1px solid #ee6055;
}

.seeMoreHomeDesign:hover{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
    border:1px solid #ee6055;
    cursor:pointer;

}



@media (min-width: 1200px) { 
    
.homeSection1 {
 
    min-height: 40em; 
    overflow: hidden;
    
}


.titleDesign{
    font-family: 'Lobster', sans-serif;
    font-size: 8.5rem;
    color: black;
    border-bottom: 2px lightgray solid;
    margin-right: 50px;
}

.joinTitleDesign {
    color: black;
    font-weight:bold;
    width: 14em;
}

.selectedImgCol{
    padding-right: 30px;
}

.selectedImgDesign{
    max-height: 40em;
    min-height: 40em;
    width:auto;
}

.buttonGoToRegisterDesign {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
}

.buttonGoToRegisterDesign:hover {
    text-decoration: none;
    color: #ee6055;
    font-weight: bolder;
    background-color: #e6aca858;
    border-radius: 100px;
}



.ratingTop10Table{
    border-top: 2px lightgray solid;  
    width: 100%;
}
.theadDesign{
    padding-top: 10px;
    color:rgb(131, 130, 130);
}
.tdDesign {
    padding: 2em 0;
    font-weight: bolder;
}
.randomArtworkTitle{
    font-weight: bolder;
    color: black;
}

.top10ImgDesign{
    height: 7em;
    width:auto;
    transition: transform .5s;
}

.top10ImgDesign:hover{
    height: 5em;
    width:auto;
    transform: scale(2);
}
.top10AvatarDesign{
    height: 4em;
    width:auto;

}

.seeMoreHomeDesign{
    height: 2em;
    width: 12em;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: white;
    border-radius: 100px;
    border:1px solid #ee6055;
}

.seeMoreHomeDesign:hover{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
    border:1px solid #ee6055;
    cursor:pointer;

}
}