.detailsBtnDesign{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    background-color: white;
    border-radius: 100px;
    border:1px solid #ee6055;
   }

   .detailsBtnDesign:hover {
    text-decoration: none;
    color: white;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
    border:1px solid #ee6055;

}