
.homeSection1 {
 
    min-height: 40em; 
    overflow: hidden;
    
}

.titleDesign{
    font-family: 'Lobster', sans-serif;
    font-size: 8.5rem;
    color: black;
    border-bottom: 2px lightgray solid;
    margin-right: 50px;
}

.joinTitleDesign {
    color: black;
    font-weight:bold;
    width: 14em;
}

.selectedImgCol{
    padding-right: 30px;
}

.selectedImgDesign{
    border-radius: 50%;
    width: 10px;
    max-height: 40em;
}

.buttonGoToRegisterDesign {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: #ee6055;
    border-radius: 100px;
}

.buttonGoToRegisterDesign:hover {
    text-decoration: none;
    color: #ee6055;
    font-weight: bolder;
    background-color: #e6aca858;
    border-radius: 100px;
}